<!-- <h3>Notation</h3> -->

<div ng-repeat="channel in notation.channels track by $index" ng-init="chanIndex = $index" layout="column">
  <div class="fixed-height" layout="row" layout-align="space-around center">
    <div ng-repeat="note in channel.notes track by $index" ng-init="noteIndex = $index" class="note" ng-class="{'beat-boundary': (!$last && beatBoundary(noteIndex))}" flex>
      <md-input-container>
       <input type="button"  value="{{ note.value }}" ng-model="note" ng-click="cycleNotes(note, chanIndex)" ng-class="{'note-on': noteOn(note, noteIndex)}" class="animated fadeIn">
      </md-input-container>
    </div>
  </div>
</div>

<md-button ng-click="clearNotes()">Clear Notes</md-button>

<!-- <md-select ng-model="notation" placeholder="Load a Beat" ng-change="getNotation(notation)">
  <md-option ng-value="notation" ng-repeat="notation in allNotations">
    {{ notation.name }} - bpm: {{ notation.bpm}}, meter: {{notation['time_signature']}}/4
  </md-option>
</md-select> -->

    <md-select ng-model="notation" placeholder="Load a Beat" ng-change="getNotation(notation)">
      <md-optgroup label="My Beats">
        <md-option ng-value="notation" ng-repeat="notation in allNotations | filter: { 'user_id': user.id }">{{ notation.name }} - bpm: {{ notation.bpm}}, meter: {{notation['time_signature']}}/4
      </md-option>
      </md-optgroup>
      <md-optgroup label="Presets">
        <md-option ng-value="notation" ng-repeat="notation in allNotations | filter: {preset: true }">{{ notation.name }} - bpm: {{ notation.bpm}}, meter: {{notation['time_signature']}}/4
      </md-option>
      </md-optgroup>
    </md-select>





<md-button ng-disabled="noUser()" ng-click="saveAs()">Save As</md-button>

<md-button ng-disabled="wrongUser()" ng-click="save()">Save</md-button>

{{ notation.name }} {{ user.name }} {{ user.id }}







<!-- <md-grid-list md-cols="4" md-row-height="200px" ...>
  <md-grid-tile></md-grid-tile>
</md-grid-list> -->

<!-- 
option groups example
    <md-select ng-model="favoriteTopping" placeholder="Favorite Topping">
      <md-optgroup label="Meats">
        <md-option ng-value="topping.name" ng-repeat="topping in toppings | filter: {category: 'meat' }">{{topping.name}}</md-option>
      </md-optgroup>
      <md-optgroup label="Veggies">
        <md-option ng-value="topping.name" ng-repeat="topping in toppings | filter: {category: 'veg' }">{{topping.name}}</md-option>
      </md-optgroup>
    </md-select>
    <p class="md-caption">{{ favoriteTopping ? 'Your favorite topping is ' + favoriteTopping : 'Please select a topping'}}</p>
 -->

