// @import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,700,700italic,400italic);

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700|Lora:400,700|Source+Code+Pro:300,400);

$font-mono: 'Source Code Pro', 'Lucida Console', monospace;
$font-serif: 'Lora', serif;
$font-sans: 'Source Sans Pro', sans-serif;

body {
  font-family: $font-sans;
}

@mixin animation($name, $time) {
  -webkit-animation: $name $time;
  -moz-animation:    $name $time;
  -o-animation:      $name $time;
  animation:         $name $time;
}

@mixin transition($property, $easing, $time) {
  -webkit-transition:$property $easing $time;
  -moz-transition:   $property $easing $time;
  -o-transition:     $property $easing $time;
  transition:        $property $easing $time;
}

.middle {
  padding: .5em;
}

.md-button {
  // background: transparent;
  text-transform: none;
  font-size: 1em;
}

md-toolbar {
  
  padding-right: .5em;

  .badge {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 0px;

    h1 {
      font-family: $font-serif;
      font-size: 8em;
      margin: 0 .25em;
      line-height: 1em;
      color: rgba(255,255,255,1);
    }

  }

  .md-button.md-default-theme:not([disabled]):hover {
    background-color: transparent;
    transform: translate3d(0, -1px, 0);
    color: rgba(255,255,255,1);
  }

  .md-button.md-default-theme:not([disabled]):focus {
    background-color: transparent;
    transform: translate3d(0, -1px, 0);
    color: rgba(255,255,255,1);
  }

  .md-button:hover {
    background-color: transparent;
    // background: transparent;
  } 

  .smallbadge {
    position: relative;
    top: 0px;
    left: 0px;
    padding: 0px;

    h1 {
      font-family: $font-serif;
      font-size: 3em;
      margin: 0 .25em;
      line-height: 1em;
    }
  }

  .md-button {
    // color: black;
    font-family: $font-sans;
    font-size: .75em;
    // margin-right: .5em;
  }
}

.note {
  font-size: 2.5em;
  line-height: 1em;
  text-align: center;
  font-family: $font-serif;

    md-input-container {
      padding: 4px 2px; 

      .md-input {
        line-height: 1em;
        border-radius: 2px;
      }
    }
    .md-button {
      background-color: white;
      border: 1px solid black;
      border-radius: 3px;
      padding: 0px 2px;
      line-height: 1em;
    }

    .note-on, .note-on-add.note-on-add-active {
      background-color: rgba(255,193,7,.5);
    }
    .note-on-add {
      @include transition(background-color, ease, .25s); 
    }
    .note-on-remove {
      @include transition(background-color, ease, .25s); 
    }
  }

.more-tools {
  z-index: 0;
}

#transport {

  div {
    margin: 0px 12px;
  }
  md-input-container {
    display: inline-block;
    padding: 0px;
    margin: 0px;
    width: 2.5em;
    // height: .8em;
  }
  md-select {
    padding: 0px;
    margin: 0px; 
  }

  .md-input {
    font-size: 1.2em;
    line-height: .8em;
    padding: 0px;
    border: none;
    // height: .8em;
    margin-top: -7px;
  }

  .md-select-label {
    font-size: 1.2em;
    line-height: .8em;
    padding: 0px;
    border: none;
  }

  #counter {
    display: inline-block;
    font-size: 1.2em;
    line-height: .8em;
    margin: 0px;
  }


  // #counter {
  //   display: inline-block;
  //   line-height: 28px;
  //   // border-bottom: 1px solid;
  //   padding: 2px 2px 1px 2px;
  //   margin: 0px;
  //   color: rgba(0,0,0,0.87);
  //   // border-color: rgba(0,0,0,0.12);
  //   // border-width: 0 0 1px 0;
  //   font-size: 16px;
  //   // font-family: inherit;
  //   // vertical-align: baseline;
  //   box-sizing: border-box;
  // }
}

.transport-button {
  width: 60px;
  height: 40px;
  margin: 4px;
  background-color: #f9f9f9;
}

.transport-label {
  font-size: .7em;
  // font-weight: bold;
  letter-spacing: .05em;
  // font-family: $font-sans-serif;
}
.subsection {

  padding-bottom: .5em;

  .a-kind-of {
    font-family: $font-sans;
    font-size: 1em;
    font-weight: normal;
  }

  h2 {
    // font-family: $font-sans-serif;
    display: inline;
    font-weight: normal;
  }
}

// .ng-enter, .ng-move{
//   -webkit-animation: fadeIn 1s;
//   -moz-animation: fadeIn 1s;
//   -o-animation: fadeIn 1s;
//   animation: fadeIn 1s;
// }

// .ng-leave{
//   -webkit-animation: fadeOut 1s;
//   -moz-animation: fadeOut 1s;
//   -o-animation: fadeOut 1s;
//   animation: fadeOut 1s;
// }

// .css-class-add, .css-class-remove {
//   -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
//   -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
//   -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
//   transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
// }

// .css-class,
// .css-class-add.css-class-add-active {
//   color: red;
//   font-size:3em;
// }

// .css-class-remove.css-class-remove-active {
//   font-size:1.0em;
//   color:black;
// }


.fixed-height {
  height: 3em;
}

.beat-boundary {
  border-right: 1px solid #bdbdbd;
}

.load-menu {
  margin-top: 0px;
}

.under-notes {
  margin-top: 10px;

  .md-button {
    margin-left: 6px;
  }
}

.auth-form {
  margin-left: 4em;
}

.about {
  margin: 0 2em;

  p {
    line-height: 1em; 
  }
}

[layout=row] {
  flex-direction: row;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

// md-toolbar.md-default-theme {
//   background-color: black;
// }

section.jumbotron {
  margin-bottom: 30px;
  padding: 1px 30px;
  background-color: #5aadbb;
  text-align: center;

  color: white;

  h1 {
    font-size: 3em;
  }
}

.techs {
  display: flex;
  flex-flow: row wrap;

  md-card {
    width: 30%;

    img.pull-right {
      float: right;
      width: 50px;
    }
  }
}
// injector
// endinjector
