<div layout="row">
  <div layout="column" class="auth-form">
    <h1>Sign Up</h1>
    <form name="registrationForm" ng-submit="register()" novalidate>

      <md-input-container>
        <label>name</label>
        <input type="text"
               name="name"
               class="form-control"
               placeholder="Name"
               ng-model="user.name"
               ng-minlength="1"
               ng-maxlength="40"
               required>
        <div ng-messages="registrationForm.name.$error">
          <div ng-message="required">...required</div>
          <div ng-message="minlength">...at least three letters</div>
          <div ng-message="maxlength">...but not more than forty</div>
        </div>
      </md-input-container>


      <md-input-container>
      <label>email</label>
        <input type="email"
               name="email"
               class="form-control"
               placeholder="Email"
               ng-model="user.email"
               ng-minlength="5"
               ng-maxlength="40"
               required>
        <div ng-messages="registrationForm.email.$error">
          <div ng-message="required">...required</div>
          <div ng-message="minlength">...needs at least five characters</div>
          <div ng-message="maxlength">...but not more than forty</div>
          <div ng-message="email">...this doesn't look like a valid email address</div>
        </div>
      </md-input-container>

      <md-input-container>
        <label>password</label>
        <input type="password"
               name="password"
               class="form-control"
               placeholder="Password"
               ng-model="user.password"
               ng-minlength="6"
               ng-maxlength="20"
               required>
        <div ng-messages="registrationForm.password.$error">
          <div ng-message="required">...required</div>
          <div ng-message="minlength">...needs at least six characters</div>
          <div ng-message="maxlength">...but no more than twenty</div>
        </div>  
      </md-input-container>

      <md-button type="submit"
              class="md-primary md-raised"
              ng-disabled="registrationForm.$invalid">Register</md-button>
    </form>
  </div>
</div>
